* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    list-style-type: none;
}

/* commons */
.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}
/* widht */
.w-100{
    width: 100%;
    /* debug */
    /* background-color: rgb(217, 216, 218); */
    border: 1px solid black;
}

.w-80 {
    width: 80%;
    /* debug */
    background-color: rgb(217, 216, 218);
    border: 1px solid black;
}

.w-70 {
    width: 70%;
    /* debug */
    border: 1px solid black;
}

.section-2 >.w-33,
.section-5 >.w-33{
    width: calc(100% / 3 - 10px);
    /* debug */
    border: 1px solid black;
}

.w-30 {
    width: 30%;
    /* debug */
    border: 1px solid black;
}

.w-60{
    width: 60%;
}
/* margin */
.m-t-100 {
    margin-top: 100px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-b-100{
    margin-bottom: 100px;
}

.m-b-40{
    margin-bottom: 40px;
}

.m-b-20{
    margin-bottom: 20px;
}

.m-b-10{
    margin-bottom: 10px;
}

/* bg-color */
.bg-grey {
    background-color: rgb(217, 216, 218);
}

/* nav */
nav {
    height: 30px;
    /* debug */
    border: 1px solid black;
}

.grow {
    flex-grow: 1;
}

/* debug */
.w-30.grow {
    background-color: red;
}

.w-30:nth-child(2) {
    background-color: green;
}

/* header */
header {
    align-items: center;
    /* debug */
    background-color: rgb(179, 209, 230);
    /* height: 500px; */
}

.hero {
    /* debug */
    margin-top: 50px;
    height: 450px;
    background-color: rgb(217, 216, 218);
}

main {
    justify-content: center;
}

.section-1 {
    /* debug */
    height: 100px;
}

.section-2 {
    justify-content: space-between;
}

.section-2>.w-33 {
    /* debug */
    background-color: rgb(217, 216, 218);
    height: 600px;
}

.section-3 {
    /* debug */
    background-color: rgb(120, 41, 156);
    height: 200px;
}

.section-4 {
    /* debug */
    height: 500px;
}

.section-4 >.w-70{
    background-color: rgb(63, 79, 182);
}

.section-4 >.w-30{
    background-color: rgb(90, 181, 77);
}

.section-5{
    justify-content: space-between;
}

.section-5>.w-33 {
    /* debug */
    background-color: rgb(217, 216, 218);
    height: 700px;
}

.section-6{
    /* debug */
    height: 200px;
    background-color: rgb(63, 79, 182);
}


/* section logo */
.section-logo >.w-33-nm{
    width: calc(100% / 3);
    border: 1px solid black;
    background-color: azure;
}

.cont-square{
    position: relative;
    width: calc(100% / 2);
    padding-bottom: 50%;
    /* debug */
    border: 1px solid black;
    background-color: rgb(61, 186, 179);
}

.square{
    position: absolute;
    width: 100%;
    height: 100%;
}

/* section sub-logo */
.section-sub-logo{
    /* debug */
    justify-content: center;
    background-color: rgb(181, 208, 232);
}

.sub-logo{
    /* debug */
    height: 200px;
    /* background-color: blue; */
}

.sub-logo >.w-70{
    background-color: rgb(63, 79, 182);
}

.sub-logo >.w-30{
    background-color: rgb(90, 181, 77)    
}

/* section questions */
.questions{
    /* debug */
    height: 500px;
    background-color: rgb(120, 41, 156);
}